.header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #example1 {
    border: 2px solid black;
    padding: 25px;
    background: url(../assets/5D3_2794.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  

.fill1 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/5D3_2794.jpg');
  min-height: 400px;
}

.fill2 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/5D3_2524.jpg');
  min-height: 400px;
}

.fill3 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/IMG_0798.jpg');
  min-height: 400px;
}

.top-right {
  position: absolute;
  top: 40px;
  right: 40px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 2px 2px 8px #292121;
}

.top-right2 {
  position: absolute;
  top: 80px;
  right: 80px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 2px 2px 8px #292121;
}