

.header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #example1 {
    border: 2px solid black;
    padding: 25px;
    background: url(../assets/5D3_2794.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  

.fill1 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/5D3_2794.jpg');
  min-height: 400px;
}

.fill2 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/5D3_2524.jpg');
  min-height: 400px;
}

.fill3 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/IMG_0798.jpg');
  min-height: 400px;
}





.my-font {
  font-family: 'Nanum Myeongjo', serif;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: 200px;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.img-overlay-wrap:hover {
  transform: rotate( 15deg );
}

h5 {
  margin:0
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 751px) {
  .footerFont {
    font-size: 60px;
  }
  .smallFooterFont {
    font-size: 40px;
  }
  .footerLinks {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 750px) {
  .footerFont {
    font-size: 20px;
  }
  .smallFooterFont {
    font-size: 18px;
  }
  .footerLinks {
    font-size: 16px;
  }
}

@media screen and (min-width: 751px) {
  .headerFont {
    font-size: 70px;
  }
  .subheaderFont {
    font-size: 50px;
  }
  .top-right {
    position: absolute;
    top: 100px;
    right: 100px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 8px #292121;
  }
}

@media screen and (max-width: 750px) {
  .headerFont {
    font-size: 30px;
  }
  .subheaderFont {
    font-size: 15px;
  }
  .top-right {
    position: absolute;
    top: 30px;
    right: 00px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 8px #292121;
  }
}









@media screen and (min-width: 751px) {
  .top-right2 {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 8px #292121;
  }
}

@media screen and (max-width: 750px) {
  .top-right2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px #292121;
  }
}

