.header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #example1 {
    border: 2px solid black;
    padding: 25px;
    background: url(../assets/5D3_2794.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  

.fill1 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/5D3_2794.jpg');
  min-height: 400px;
}

.fill2 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/5D3_2524.jpg');
  min-height: 400px;
}

.fill3 {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/IMG_0798.jpg');
  min-height: 400px;
}
